html,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 20px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  padding: 20px;
}

footer {
  background-color:#0055A4;
  color: white;
  height: 100px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer a {
  color: white;
  text-decoration: none;
}

.font1 {
  font-family: "GFS Neohellenic", sans-serif;
}

.font2 {
  font-family: "Podkova", serif;
}

.bg-frenchblue{
  background-color:#0055A4;
}

.color-frenchblue{
  color:#0055A4;
}