html,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 1rem;
  flex: 1 1 auto;
}

footer {
  flex: 1 1 auto;
  padding: 1rem;

  background-color: #0055a4;
  color: white;
  height: 100px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  max-width: 680px;
  margin: 0 auto;
}

.text-highlight {
  background-color: #81a5c7;
}

footer a {
  color: white;
  text-decoration: none;
}

header {
  flex: 1 1 auto;
  margin: 5rem;
}

#badges {
  flex: 1 1 auto;
}

#badges-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-start;
}

#badges-list .badge {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 120px;

  margin: 0.3rem;
  padding: 0.3rem;
  text-align: center;
  background-color: #81a5c7;
  border-radius: 5%;
}

#badges-list .badge .illustration {
  margin: 0.5rem;
}

#news {
  flex: 1 1 auto;
}

#parameters {
  flex: 1 1 auto;
}

#parameters-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-start;
}

#parameters-list .illustration img {
  width: 100%;
  max-width: 762px;
  height: auto;
}

#parameters-list .parameter {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  margin: 0.3rem;
  padding: 0.3rem;
  text-align: center;
  border-radius: 5%;
}

#parameters-list .parameter hr {
  margin: 0.1rem;
}

#parameters-list .parameter small {
  font-family: "GFS Neohellenic", sans-serif;
  color: #81a5c7;
}

#parameters-list .parameter .illustration {
  margin: 0.5rem;
}

#architecture {
  flex: 1 1 auto;
}

#architecture .illustration img {
  width: 100%;
  max-width: 762px;
  height: auto;
}

.font1 {
  font-family: "GFS Neohellenic", sans-serif;
}

.font2 {
  font-family: "Podkova", serif;
}

.bg-frenchblue {
  background-color: #0055a4;
}

.bg-gray {
  background-color: #5f5f5f;
}

.color-frenchblue {
  color: #0055a4;
}
.color-gray {
  color: #5f5f5f;
}
.color-white {
  color: #fff;
}

@media (max-width: 800px) {
  main {
    flex-direction: column;
  }
}
